In [25]:
import pandas as pd
import numpy as np

In [42]:
sales_data = {
    'OrderDate': ['04/18/2023', '04/28/2023', '04/19/2023', '04/10/2023', '04/20/2023', '04/17/2023',
                  '04/15/2023', '04/15/2023', '04/19/2023', '04/19/2023', '04/10/2023', '04/20/2023',
                  '04/17/2023', '04/15/2023', '04/15/2023', '04/19/2023',],
    'Region': ["East","Central" ,"Central","West","East","Central","Central","West","East","Central",
               "West","East","Central","Central","West","East",],
    'Representative': ['Sohan','Sohan', 'Priya', 'Preeti','Sohan','Meera','Sam','Ankush','Kreeti','Priya','Preeti',
            'Mohit','Sohan','Sam','Ankush','Kreeti'],
    'Items': ['Pencil','Binder','Pencil','Pen','Pencil','Binder','Pen','Pencil','Pen','Pencil','Pen',
              'Pencil','Binder','Pen','Pencil','Pen'],
    'Units': [95,50,36,27,56,60,75,90,32,36,27,56,60,75,90,32],
    'Unit Cover': [1.99,19.99,4.99,19.99,2.99,4.99,1.99,4.99,1.99,4.99,19.99,2.99,4.99,1.99,4.99,1.99],
    'Revenue' : [189.05,999.5,179.64,539.73,167.44,299.4,149.25,449.1,63.68,179.64,539.73,164.44,299.4,
                 149.25,449.1,63.68],
    'Sales': [8,4,3,5,8,2,1,4,3,1,2,1,2,5,6,4]
}

df = pd.DataFrame(sales_data)

In [43]:
df

,OrderDate,Region,Representative,Items,Units,Unit Cover,Revenue,Sales
0,04/18/2023,East,Sohan,Pencil,95,1.99,189.05,8
1,04/28/2023,Central,Sohan,Binder,50,19.99,999.50,4
2,04/19/2023,Central,Priya,Pencil,36,4.99,179.64,3
3,04/10/2023,West,Preeti,Pen,27,19.99,539.73,5
4,04/20/2023,East,Sohan,Pencil,56,2.99,167.44,8
5,04/17/2023,Central,Meera,Binder,60,4.99,299.40,2
6,04/15/2023,Central,Sam,Pen,75,1.99,149.25,1
7,04/15/2023,West,Ankush,Pencil,90,4.99,449.10,4
8,04/19/2023,East,Kreeti,Pen,32,1.99,63.68,3
9,04/19/2023,Central,Priya,Pencil,36,4.99,179.64,1
10,04/10/2023,West,Preeti,Pen,27,19.99,539.73,2
11,04/20/2023,East,Mohit,Pencil,56,2.99,164.44,1
12,04/17/2023,Central,Sohan,Binder,60,4.99,299.40,2
13,04/15/2023,Central,Sam,Pen,75,1.99,149.25,5
14,04/15/2023,West,Ankush,Pencil,90,4.99,449.10,6
15,04/19/2023,East,Kreeti,Pen,32,1.99,63.68,4

# Find the total sales in east region

In [44]:
east_sales = df['Sales'].where(df['Region'] == 'East' ).sum()
print("Total Sales in East Region",east_sales)

Total Sales in East Region 24.0

# what were the total revenue generated from binder , pencil , pen

In [45]:
Revenue_Binder = df['Revenue'].where(df['Items'] == 'Binder').sum()
Revenue_Pen = df['Revenue'].where(df['Items'] == 'Pen').sum()
Revenue_Pencil = df['Revenue'].where(df['Items'] == 'Pencil').sum()

print("Revenue from Binder",Revenue_Binder)
print("Revenue from Binder",Revenue_Pen)
print("Revenue from Binder",Revenue_Pencil)

Revenue from Binder 1598.3
Revenue from Binder 1505.3200000000002
Revenue from Binder 1778.41

# total revenue generated from the central region where the item is pencil , then pen then binder .Â¶

In [51]:
rev_central_pencil = df['Revenue'].where((df['Region'] == 'Central') & (df['Items'] == 'Pencil')).sum()
rev_central_pen = df['Revenue'].where((df['Region'] == 'Central') & (df['Items'] == 'Pen')).sum()
rev_central_binder = df['Revenue'].where((df['Region'] == 'Central') & (df['Items'] == 'Binder')).sum()
print("Total Revenue generated from the central region where item is Pencil :",rev_central_pencil)
print("Total Revenue generated from the central region where item is Pen :",rev_central_pen)
print("Total Revenue generated from the central region where item is Binder :",rev_central_binder)

Total Revenue generated from the central region where item is Pencil : 359.28
Total Revenue generated from the central region where item is Pen : 298.5
Total Revenue generated from the central region where item is Binder : 1598.3

# total revenue generated from the East region where the item is pencil , then pen then binder .

In [52]:
rev_East_pencil = df['Revenue'].where((df['Region'] == 'East') & (df['Items'] == 'Pencil')).sum()
rev_East_pen = df['Revenue'].where((df['Region'] == 'East') & (df['Items'] == 'Pen')).sum()
rev_East_binder = df['Revenue'].where((df['Region'] == 'East') & (df['Items'] == 'Binder')).sum()
print("Total Revenue generated from the East region where item is Pencil :",rev_East_pencil)
print("Total Revenue generated from the East region where item is Pen :",rev_East_pen)
print("Total Revenue generated from the East region where item is Binder :",rev_East_binder)

Total Revenue generated from the East region where item is Pencil : 520.9300000000001
Total Revenue generated from the East region where item is Pen : 127.36
Total Revenue generated from the East region where item is Binder : 0.0

# total revenue generated from the West region where the item is pencil , then pen then binder .

In [53]:
rev_West_pencil = df['Revenue'].where((df['Region'] == 'West') & (df['Items'] == 'Pencil')).sum()
rev_West_pen = df['Revenue'].where((df['Region'] == 'West') & (df['Items']=='Pen')).sum()
rev_West_binder = df['Revenue'].where((df['Region'] == 'West') & (df['Items']=='Binder')).sum()

print("Total Revenue generated from the West Region where item is Pencil :",rev_West_pencil)
print("Total Revenue generated from the West Region where item is Pen :",rev_West_pen)
print("Total Revenue generated from the West Region where item is Binder :",rev_West_binder)

Total Revenue generated from the West Region where item is Pencil : 898.2
Total Revenue generated from the West Region where item is Pen : 1079.46
Total Revenue generated from the West Region where item is Binder : 0.0

In [71]:
df.head(40)

,OrderDate,Region,Representative,Items,Units,Unit Cover,Revenue,Sales
0,04/18/2023,East,Sohan,Pencil,95,1.99,189.05,8
1,04/28/2023,Central,Sohan,Binder,50,19.99,999.50,4
2,04/19/2023,Central,Priya,Pencil,36,4.99,179.64,3
3,04/10/2023,West,Preeti,Pen,27,19.99,539.73,5
4,04/20/2023,East,Sohan,Pencil,56,2.99,167.44,8
5,04/17/2023,Central,Meera,Binder,60,4.99,299.40,2
6,04/15/2023,Central,Sam,Pen,75,1.99,149.25,1
7,04/15/2023,West,Ankush,Pencil,90,4.99,449.10,4
8,04/19/2023,East,Kreeti,Pen,32,1.99,63.68,3
9,04/19/2023,Central,Priya,Pencil,36,4.99,179.64,1
10,04/10/2023,West,Preeti,Pen,27,19.99,539.73,2
11,04/20/2023,East,Mohit,Pencil,56,2.99,164.44,1
12,04/17/2023,Central,Sohan,Binder,60,4.99,299.40,2
13,04/15/2023,Central,Sam,Pen,75,1.99,149.25,5
14,04/15/2023,West,Ankush,Pencil,90,4.99,449.10,6
15,04/19/2023,East,Kreeti,Pen,32,1.99,63.68,4

# How many units were sold by sales representative sohan where the cost of each item were greater then 4.

In [72]:
sohan_sales = df['Units'].where((df['Representative'] == 'Sohan') & (df['Unit Cover'] > 4) ).sum()
print("Units sold by Soham where cost per unit greater than 4",sohan_sales)

Units sold by Soham where cost per unit greater than 4 110.0

# How many units were sohan sales excluding pencil

In [73]:
sohan_sales_notpencil= df['Units'].where((df['Representative'] == 'Sohan') & (df['Items'] != 'Pencil')).sum()
print("Total units sold by Sohan excluding pencil :",sohan_sales_notpencil)

Total units sold by Sohan excluding pencil : 110.0

# How many units were Priya sales excluding pencil

In [74]:
Priya_sales_notpencil= df['Units'].where((df['Representative'] == 'Priya') & (df['Items'] != 'Pencil')).sum()
print("Total units sold by Priya excluding pencil :",Priya_sales_notpencil)

Total units sold by Priya excluding pencil : 0.0

# How many units were Preeti sales excluding pencil

In [75]:
Preeti_sales_notpencil= df['Units'].where((df['Representative'] == 'Preeti') & (df['Items'] != 'Pencil')).sum()
print("Total units sold by Preeti excluding pencil :",Preeti_sales_notpencil)

Total units sold by Preeti excluding pencil : 54.0

# Find the total number of times sohan has made a sale.

In [79]:
sohan_total_no = df['Sales'].where(df['Representative']=='Sohan').sum()
print("Total no. of sales made by Sohan :",sohan_total_no)

Total no. of sales made by Sohan : 22.0

# Find the total number of times Priya has made a sale.

In [80]:
priya_total_no = df['Sales'].where(df['Representative']=='Priya').sum()
print("Total no. of sales made by Priya :",priya_total_no)

Total no. of sales made by Priya : 4.0

# Find the total number of times Preeti has made a sale.

In [81]:
preeti_total_no = df['Sales'].where(df['Representative']=='Preeti').sum()
print("Total no. of sales made by Priya :",preeti_total_no)

Total no. of sales made by Priya : 7.0

# How many times did soham sells pencils

In [84]:
sohan_sale_pencils = df['Sales'].where((df['Representative'] == 'Sohan') & (df['Items'] == 'Pencil')).sum()
print("No. of times Sohan sells pencils",sohan_sale_pencils)

No. of times Sohan sells pencils 16.0